/** Variables **/
@font-face {
  font-family: PlayfairDisplay;
  src: url(../fonts/PlayfairDisplay-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Lora;
  src: url(../fonts/Lora-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: normal;
    font-style: normal;
  }
  

:root {
  --bleumarin: #242E42;
  --golden: #d1b06b;
  --dark-bleumarin: #181827;
  --darker-bleumarin: #10101E;
  --light-gray: #e0e0e0;
  --play-font: "fontPlayfairDisplay", sans-serif;
  --lora-font: "Lora", sans-serif;
}

/** General Styles **/
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a,
span {
  padding: 0;
  margin: 0;
}

.desc-width {
  max-width: 580px;
}

/** Buttons **/
.btn {
  border: 1px solid var(--golden);
  color: #fff;
  font-size: 20px;
}

.btn-contact{
  padding: 10px 100px;
}

.btn-contact:hover{
  border:1px solid #fff;
  background-color: var(--golden);
}

.border-gold{
  border: 1px solid var(--golden);
}

/** Navigation and Lists **/
.border-nav li{
  text-align: center;
  padding: 10px;
  list-style-type: none;
}
.border-nav li:first-child{
  border-top: 1px solid var(--golden);
}

.border-nav li:last-child{
  border-bottom: 1px solid var(--golden);
}

.border-nav li:not(:first-child) {
  border-top: 1px solid var(--golden);
}

.navigation ul li {
  padding: 0 0 0 20px;
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
}

.navigation ul li a {
  text-decoration: none;
}

.navigation ul li:first-child {
  padding: 0;
}

/** Paddings **/

.content-push{
  padding: 200px 20px 20px 20px !important;
}


/** Typography and Heading Styles **/
.play-font{
  font-family: "PlayfairDisplay";
}

.lora-font{
  font-family: "Lora";
}

.roboto-font{
  font-family: 'Roboto';
}

.montserat-font {
  font-family: "Montserrat", sans-serif;
}

.font-mobile{
  font-size: 12px;
}

.lh-8 {
  line-height: 1.8;
}
.ft-20 {
  font-size: 20px;
}

/** Component Specific Styles **/
.image-background {
  position: relative;
  background: url("../images/coat.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 1;
}

.image-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: var(--dark-bleumarin);
  z-index: 1;
}

.image-container {
  width: 417px;
  height: 599px;
}

.main-heading {
  font-size: 55px;
  line-height: 1.2;
  font-family: "Lora";
}

.second-heading {
  font-size: 45px;
  line-height: 1.2;
}

.third-heading{
  font-size: 25px;
}

.phone-menu ul li{
  display: block;
  text-align: center;
}

.card-experienta{
  position: absolute;
  background-color: var(--dark-bleumarin);
}

.main-header {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  z-index: 10;
}
.logo {
  padding: 20px 0;
}

.golden-border {
  border: 1px solid var(--golden);
  padding: 10px;
  border-radius: 100%;
}

.phone-menu ul li{
  display: block;
  text-align: center;
}

.card-experienta{
  position: absolute;
  background-color: var(--dark-bleumarin);
}

.cutie-seviciu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-align: center;
  background-color: var(--darker-bleumarin);
}

.cutie-seviciu p {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px; 
  margin: 0; 
}

.cutie-seviciu .row > .col-lg-4 {
  display: flex;
  flex-direction: column;
}

.pic-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 10px; 
}

.top-image {
  width: 100%;
  object-fit: cover;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
}

.bottom-image {
  width: 49%;
  object-fit: cover;
}

/** Utility Classes **/
.accordion-button:not(.collapsed){
  background:transparent;
  box-shadow: none;
  color:var(--dark-bleumari);
}

.accordion-button{
  color:var(--dark-bleumari);
}

.accordion-button:focus {
  outline: none;
  box-shadow: none;
}
.content {
  position: relative;
  z-index: 2;
  color: white;
  padding: 20px;
}

.mb-5rem{
  margin-bottom: 4rem !important;
}

.dec-none{
  text-decoration: none;
}

.no-style-type ul li{
  list-style-type: none;
}

.no-decoration{
  text-decoration: none;
}

.white-text {
  color: #fff;
}

.bg-bleumarin {
  background-color: var(--dark-bleumarin);
}

.bg-footer{
  background-color: var(--bleumarin);
}

.basic-border{
  border: 2px solid var(--golden);
}

.top-bottom-border{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.mobile-header{
  background: var(--dark-bleumarin);
  border-bottom: 5px solid var(--golden);
}
.mobile-button {
  color:#fff;
  font-size: 26px;
  cursor: pointer;
}

.top-bottom-pad{
  padding: 40px 0;  
}

.list-position{
    position: relative;
    top: 10px;
}

.contact-position{
    position: relative;
    right: 20px; 
}


.mobile-position{
  position: relative;
  left: 5px; 
}

.transition{ 
  transition: 0.25s ease-in-out;
}

.icon-hover:hover{
  background-color: var(--golden);
  color: var(--bleumarin);
}

.link-hover:hover{
  color: var(--golden);
}

.exp-card:hover{
  transform: scale(1.1);
}

.absolute-centering{
  left: 50%;
  transform: translate(-50%, -50%);
}

.gold-text {
  color: var(--golden);
}

.bleumarin-text {
  color: var(--bleumarin);
}

.ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.full-height {
  flex: 1;
}

.workbox-animation:hover{
  transform: translateY(-10px);
}

.top-fixed {
  position: fixed;
  top: 0;
  background: var(--dark-bleumarin);
  padding: 20px 0;
  border-bottom: 5px solid var(--golden);
}

/** Media queries ***/
@media screen and (max-width:600px){
  .head-mobile{
    font-size: 24px;
    text-align: center;
  }
  
  .p-mobile{
    font-size: 14px;
    text-align: center;
  }

  .accordion-mobile{
    font-size: 14px;
  }
  .button-mobile{
    font-size:20px;
    text-align: center;
  }

  iframe{
    width: 100%;
    display: block;
    margin: 20px auto 0 auto;
  }
}

@media (max-width: 600px) {
  .image-background {
      background-size: cover; 
      background-position: center center; 
      background-attachment: scroll;
  }

  .ctn{
    min-height: initial;
  }

  .btn{
    padding: 10px 10px;
    font-size: 14px;
  }

  .servicii-intro p{
    margin-bottom: 20px;
  }

  .imagine-prezentare img{
    display: block;
    margin: 0 auto;
  }
}

@media (min-width:980px){
  .text-box{
    margin-top: 70px;
  }

  .service-position{
    position: relative;
    top:20px;
  }
}

@media (max-width:980px){
  .logo{
    display: none!important;
  }
  .image-none{
    display: none;
  }
}

@media (max-width: 768px) {
  .image-background {
    background-position: top;
  }
}

@media (max-width: 480px) {
  .image-background {
    background-position: center center;
  }
}
